# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy~=1.18.5
pandas~=1.2.1
scikit-learn
nltk
statsmodels

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
unidecode
reverse_geocoder
requests~=2.25.1
lxml~=4.6.2
fastapi~=0.65.0
uvicorn